{% extends 'main_app/base.html' %}
{% block title %}Hapus Laporan{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb bg-light p-2 rounded shadow-sm">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'reports' %}">Laporan</a>
        </li>
        <li class="breadcrumb-item active">Hapus</li>
    </ol>
</nav>

<div class="card shadow">
    <div class="card-header bg-danger text-white">
        Konfirmasi Hapus
    </div>
    <div class="card-body">
        <p>Yakin ingin menghapus laporan <strong>{{ report.title }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Ya, Hapus</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Batal</a>
        </form>
    </div>
</div>

{% endblock %}