<h2>Laporan Kota Kemiling</h2>
<a href="{% url 'report_add' %}">Tambah Laporan Baru</a>

<table border="1">
    <tr>
        <th>Judul</th>
        <th>Status</th>
        <th>Aksi</th>
        <th>Workflow</th>
    </tr>
    {% for report in reports %}
    <tr>
        <td>{{ report.title }}</td>
        <td><strong>{{ report.get_status_display }}</strong></td>
        <td>
            <a href="{% url 'report_detail' report.pk %}">Detail</a> |
            <a href="{% url 'report_edit' report.pk %}">Edit</a> |
            <a href="{% url 'report_delete' report.pk %}">Delete</a>
        </td>
        <td>
            {% if report.status == 'REPORTED' %}
            <form action="{% url 'update_status' report.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="status" value="VERIFIED">
                <button type="submit">Verifikasi Laporan</button>
            </form>
            {% elif report.status == 'VERIFIED' %}
                <span style="color: green;">Sudah Terverifikasi</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>