<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Kemiling City</a>
    <div>
      {% if user.is_authenticated %}
        <span class="text-white me-2">Halo, {{ user.username }}</span>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-light btn-sm">Login</a>
      {% endif %}
    </div>
  </div>
</nav>